body {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: ghostwhite;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

html {
    scroll-behavior: smooth; /*scorrimento piano piano*/
}

/*HEADER e MENU*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    font-family: 'Montserrat', sans-serif;
    position: sticky; /*resta visibile solo finché non scorre fuori dal suo contenitore*/
    top: 0;
    z-index: 1000;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    list-style: none;
    padding-right: 20px;
    font-size: 19px;
}

.menu a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.menu a:hover {
    text-decoration-line: underline;
    text-decoration-color: #530149;
    text-decoration-thickness: 3px;
    font-size: 20px;
}

.logo {
    padding-left: 20px;
    width: auto;
    height: 85px;
}

/*HERO DEL CV - PARTE SOPRA*/
.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #530149;
    color: white;
}

.hero .cerchio-foto {
    width: 300px;  
    height: 450px; 
    border-radius: 55% / 35%; /* border-radius: X% / Y% */
    border: 3px solid white; 
    background-image: url('profilo.JPG');
    background-size: cover;
    margin: 0 30px;
    transform: translateY(110px);
}

.hero .nome {
    margin: 0px 0px;    
    transform: translateY(60px);
    
}

.hero a,p {
    padding-left: 9px;
}

.hero h1 {
    font-size: 60px;
    margin: 10px 0;
    line-height: 0.9;
}

.hero .linea {
    border-top: 6px double white;
    margin: 25px 10px;
    width: 50%;
}

/*BOX LINGUAGGI*/
.linguaggi {
    margin-top: 200px;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    gap: 60px;
    box-shadow: 0px 0px 12px #3f0438;
    border-radius: 17px;
    padding: 20px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 700px;  
}

/*BOX CV - FORMAZIONE, LINGUE, ESPERIENZE*/
.box-cv {
    margin: 100px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.formazione, .esperienze, .lingue {
    background-color: white;
    box-shadow: 0px 0px 12px #3f0438;
    border-radius: 17px;
    padding: 20px 20px;
    height: 400px;
    width: 300px;
	transition: 0.3s ease;
}

.box-cv h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(180, 61, 180);
}

.box-cv .icona {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.box-cv .formazione:hover, .esperienze:hover, .lingue:hover {
	background-color: rgb(180, 61, 180);
	color: white;
	transition: 0.3 ease;
	transform: scale(1.05); /* ingrandisce del 5% */
}

.box-cv .formazione:hover h1, .esperienze:hover h1, .lingue:hover h1 {
	color: white;
}


/*ABOUT ME*/
.about-me {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px auto;
}

details summary {
    list-style: none;
    cursor: pointer;
    font-weight: normal;
}

details .freccia-su {   /*Quando la tendina è chiusa, nascondi la freccia ▲ "Leggi di meno".*/
    display: none;
}
details[open] .freccia-giu { /*details[open] significa "quando il details è aperto". Quindi quando l'utente ha già cliccato e il testo è visibile, nascondi la freccia ▼ "Leggi di più"*/
    display: none;
}
details[open] .freccia-su { 
    display: inline; /*Sempre quando è aperto, mostra la freccia ▲ "Leggi di meno"*/
    transition: 0.3 ease;
}

.about-me .foto-about {
    width: 400px;  
    height: 450px; 
    border-radius: 20% / 20%; /* border-radius: X% / Y% */
    background-image: url('profilo.JPG');
    background-size: cover;
    margin: 0 30px;
}

.testo-about h1 {
    color: rgb(180, 61, 180);
}

.testo-about .linea {
    border-top: 6px double rgb(180, 61, 180);
    margin: 25px 0px;
    width: 30%;
}

/*FOOTER e CONTATTI*/
footer {
    background-color: #17001d;
    color: white;
    padding: 40px 30px;
    margin: 0 0;
}

footer #contatti {
    font-weight: bold;
    font-size: 35px;
    margin-top: 0;
    margin-bottom: 0px;
}

footer table { 
    margin-bottom: 20px;
}

footer table tr td {
    vertical-align: middle;
}

footer table td.icona {
    display: flex;
    align-items: center;
    gap: 8px;
}

footer .footer-links a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    margin: 0 5px;
    justify-content: center;
}

footer .footer-note {
    font-style: italic;
    margin-bottom: 15px;
}

footer .link-note {
    display: flex;
    flex-direction: column;        /* link sopra, nota sotto */
    align-items: center;           /* centra tutto orizzontalmente */
    text-align: center;
}

footer .tab-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20%;
    padding: 20px 30px;
}

footer .copyright { 
    text-align: center;
    padding-top: 0px;
    color: gray;
}